nav {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.logo-icon {
    border: 1px solid;
    background-image: assets\gambar1.jpg;
    height: 25px;
    width: 50px;
    background-size: cover;
}

.nav-container {
    display: flex;
}

.nav-item {
    border: 1px solid;
    padding: 8px;
}

.main-title {
    text-align: center;
}

.main-content {
    display: flex;
}

.main-content-item {
    border: 1px solid;
    width: 100%;
    height: 250px;
}

.main-content-banner {
    border: 1px solid;
    width: 100%;
    height: 150px;
    background-image: assets\gambar1.jpg;
}